<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Ramses</Name>
    <Title>Ramses</Title>
    <Version>#version#</Version>
    <Publisher>RxLaboratory</Publisher>
    <ProductUrl>https://rxlaboratory.org/tools/ramses/</ProductUrl>
    <TargetDir>#targetdir#</TargetDir>
    #admintargetdir#
    <RunProgram>#runprogram#</RunProgram>
    #startmenu#
    <InstallerApplicationIcon>ramses_install</InstallerApplicationIcon>
    <InstallerWindowIcon>ramses_install.png</InstallerWindowIcon>
    <WizardShowPageList>true</WizardShowPageList>
    <WizardStyle>Modern</WizardStyle>
    <!--<StyleSheet>style.qss</StyleSheet>-->
    <WizardDefaultHeight>800</WizardDefaultHeight>
    <WizardDefaultWidth>960</WizardDefaultWidth>
    <ControlScript>controlscript.js</ControlScript>
    <RemoveTargetDir>true</RemoveTargetDir>
    <Banner>ramses_banner.png</Banner>
    <ProductImages>
        <ProductImage>
            <Image>product_rxot.png</Image>
            <Url>http://rxlaboratory.org</Url>
        </ProductImage>
    </ProductImages>
</Installer>
