packages/*/data/*
packages/*/data-win/*
packages/*/data-linux/*
packages/*/data-mac/*
build/*
repository/**/org.rxlaboratory.*
repository/**/Updates.xml
!repository/ramses/Updates.xml
repository/**/*_meta.7z