# Mac crap
.DS_Store
# Syncthing crap
*.sync-conflict-*
# Foldex crap
.foldex.ini
# Python
__pycache__
*.pyc
# bin tools
tools/*
# Package data
packages/**/data/*
packages/**/data-win/*
packages/**/data-mac/*
packages/**/data-linux/*
# Repository
repository/**/org.rxlaboratory*
*.7z*
# Builds
build/*
