# Mac crap
.DS_Store
# Syncthing crap
*.sync-conflict-*
# Foldex crap
.foldex.ini
# bin tools
tools/*
# package data
packages/*/data/*
packages/*/data-win/*
packages/*/data-linux/*
packages/*/data-mac/*
# build result
build/*
# repository files
repository/**/org.rxlaboratory.*
!repository/ramses/Updates.xml
repository/**/*_meta.7z

